/*
 * proposta API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0-SNAPSHOT
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.br.mineradora.gateway.client.proposta.api;

import java.util.List;

import jakarta.ws.rs.*;

import org.br.mineradora.gateway.client.proposta.to.ProposalDetailsDTO;





/**
 * proposta API
 *
 * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 */

@Path("/api/proposal")
public interface ProposalResourceApi  {

    /**
     * Create Proposal
     *
     */
    @POST
    
    @Consumes({ "application/json" })
    @Produces({ "text/plain" })
    Long createProposal(ProposalDetailsDTO proposalDetailsDTO) throws Exception, ProcessingException;

    /**
     * Delete Proposal
     *
     */
    @DELETE
    @Path("/{id}")
    void deleteProposal(@PathParam("id") Long id) throws Exception, ProcessingException;

    /**
     * Get All Proposal
     *
     */
    @GET
    @Path("/all")
    @Produces({ "application/json" })
    List<ProposalDetailsDTO> getAllProposal(@QueryParam("expiradas") Boolean expiradas) throws Exception, ProcessingException;

    /**
     * Get Proposal
     *
     */
    @GET
    @Path("/{id}")
    @Produces({ "application/json" })
    ProposalDetailsDTO getProposal(@PathParam("id") Long id) throws Exception, ProcessingException;
}
