/*
 * report  API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0-SNAPSHOT
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.br.mineradora.gateway.client.report.api;

import java.util.List;

import jakarta.ws.rs.*;

import org.br.mineradora.gateway.client.report.to.OpportunityDTO;





/**
 * report  API
 *
 * <p>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 */

@Path("/api/opportunity/report")
public interface ReportResourceApi  {

    /**
     * Get Report
     *
     */
    @GET
    @Path("/data")
    @Produces({ "application/json" })
    List<OpportunityDTO> apiOpportunityReportDataGet() throws Exception, ProcessingException;

    /**
     * Generate Report
     *
     */
    @GET
    
    @Produces({ "application/octet-stream" })
    void apiOpportunityReportGet() throws Exception, ProcessingException;
}
